# Ignore node_modules
node_modules/

# Ignore log files and environment files
logs/
*.log
npm-debug.log*
.env

# Ignore lock files (optional)
package-lock.json
yarn.lock

# Ignore build output (if any)
build/
